body{
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: black;
}


.mainPage{
	margin:auto;
	width : 90%;
	height: 100%;
	text-align:center;
}

.mainPage h1{
	font-size : 150%;
}

.mainPage h2{
	font-size:120%;
}

.mainGestion{
	background-color: rgba(215, 215, 215, 0.85);
}

.tableauFullPlace{
	width:100%;
	table-layout: fixed;
}

.tableauProjet{
	table-layout: fixed;
	width:100%;
	text-align:left;
	text-transform:justify;
}

.tableauTache{
	width : 100%;
	table-layout: fixed;	
}

.panelFonctionnalite{
	width: 400px;
	margin : 5px;
	display:inline-block;
	background-color: rgba(215, 215, 215, 0.85);
}
.justifyTd {
	text-align: justify;
	padding-right : 10px; 
	vertical-align:top;
	padding-top:10px;
	width:100%;
}

.tableauProjet tr{
	margin-bottom : 20px;
}	
.tableauProjet td{
	width : 25%;
}

@media screen and (min-width: 900px){
	#tableauMediumSize{
		display:none;
	}
	#tableauLittleSize{
		display:none;
	}
}

@media screen and (min-width: 400px) and (max-width: 900px) {
	#tableauLargeSize{
		display:none;
	}
	#tableauLittleSize{
		display:none;
	}
}

@media screen and (max-width: 400px) {
	#tableauLargeSize{
		display:none;
	}
	#tableauMediumSize{
		display:none;
	}
}


.gaugeMeter {
  position: Relative;
  text-align: Center;
  cursor: Default;
  display: inline-block;
  height:200px;
}

.gaugeMeter SPAN {
  width: 54%;
  position: Absolute;
  display: Inline-Block;
  color: RGBa(0,0,0,.8);
  font-weight: 100;
  font-family: "Open Sans", Arial;
  overflow: Hidden;
  white-space: NoWrap;
  text-overflow: Ellipsis;
  margin-left:23%;
  /*margin-top:-15%;*/
  text-shadow : 1px 1px black;
}


.gaugeMeter S, .gaugeMeter U {
  text-decoration: None;
  font-size: .70em;
  font-weight: 180;
  opacity: .6;
}

.tableauFonctionnalite{
	border-spacing: 20px;
	border-collapse: separate;
}
.tableauFonctionnalite td{
	background-color: rgba(215, 215, 215, 0.95);
	border: solid 1px #000;
}
.tableauFonctionnalite span{
	font-size:20px;
}

.tableauInterneFonctionnalite{
	border-spacing: 0px;
	width : 100%;
}
.tableauInterneFonctionnalite td {
	border:none;
}

.clickable{
	cursor:pointer;
}

.backlogDiv{
	margin:auto;
	padding : 20px;
	width : 90%;
	background-color: rgba(215, 215, 215, 0.85);
	font-family: Arial,Helvetica,sans-serif;
}

.backlogDiv table{
	width : 100%;
	padding-bottom:15px;
}

.backlogDiv table td{
	padding : 5px;
	vertical-align: middle;
}


#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: .8em; height: 1.5em; }
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.Bug{
	background-color:#ff5647;
}

.Evolution{
	background-color:#d7d700;
}

#changerVueProjet{
	text-align:right;
}

.linkArianeLast{
	color : black;
	text-decoration:none; 
}

.typeTd{
	width : 150px;
}

.nomTd{
	width : 270px;
}

.btn {
	background-color: rgba(117,125,111, .6);
	background-color:#dbe6c4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}

.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
	background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
	background-color:#9ba892;
}
.btn:active {
	position:relative;
	top:1px;
}


.lastFonctionnality {
	background-color: rgba(240, 240, 240, .6);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.lastFonctionnality:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.lastFonctionnality:active {
	position:relative;
	top:1px;
}

.aAnalyser, .KO{
	background-color: #ff4949;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.aFaire{
	background-color: #ffb05d;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.enCours{
    background-color: #fff659;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.aTester{
	background-color: #d9e292;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.termine, .OK{
	background-color: #9be279;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.boutonAjout{
	box-shadow: rgb(166, 130, 126) 0px 1px 0px 0px inset; 
	background: linear-gradient(rgb(125, 93, 59) 5%, rgb(99, 75, 48) 100%) rgb(125, 93, 59); 
	border-radius: 3px; 
	border: 1px solid rgb(84, 56, 30); 
	display: inline-block; 
	cursor: pointer; 
	color: rgb(255, 255, 255); 
	font-family: Arial; 
	font-size: 13px; 
	padding: 6px 24px; 
	text-decoration: none; 
	text-shadow: rgb(77, 53, 52) 0px 1px 0px;
}

#dialog{
	font-family: "Open Sans", Arial;
}

.typeTache option{
	padding: .2em .2em;
	position: relative;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.avatar{
	display:inline;
	border-radius:50%;
	width:30px;
}

.modifierDescriptionFonctionnalite{
	font-size:13px;
	height : 150px;
	overflow:auto;
}